@font-face {
    font-family: inter;
    src: url(/fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: BeVietnamPro;
    src: url(/fonts/BeVietnamPro-Regular.ttf);
}

body {
    font-family: BeVietnamPro !important;
}

